* {
	font-size: 1.2em;
	color: #333333;
	font-family: 'arial', sans-serif;
}

div {
	padding: 25px;
	margin: 10px;
}

.flex-container {
	display: flex;
	padding: 5px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 300px;
}

.blue {
	background-color: blue;
}

.gray {
	background-color: #d3d3d3;
	width: 60px;
	text-align: center;
}

